{{> adminHeader}}

<main>
  <h1>All reservations</h1>

  <table class="table-control">
    <tr>
      <th>Tool type</th>
      <th>Tool</th>
      <th>Renter</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
    {{#each reservations}}
    <tr>
      <td>{{this.tool.tool_type.name}}</td>
      <td>{{this.tool.model}}</td>
      <td>{{this.user.email}}</td>
      <td class="trim-date">{{this.start_date}}</td>
      <td class="trim-date">{{this.end_date}}</td>
    </tr>
    {{/each}}
  </table>
</main>