<div class="card tool-card">
    <picture>
        <img class="tool-image" src="{{tool.picture_url}}" alt="{{tool.model}}" />
    </picture>
    <div class="tool-info">
        <h3>{{tool.brand}}</h3>
        <h2>{{tool.model}}</h2>
        <p>-
            {{#each tool.use_case}}
            <span class="use-case">{{this.name}} -</span>
            {{/each}}
        </p>
    </div>



    <div class="price-tag">{{tool.price_per_day}}€/day</div>


    <div class="overlayer">
        <a href="/tools/{{tool._id}}" id="tool-link" class="btn btn-dark-blue">View details </a>
        {{#unless isHome}}
        <form action="/tools/{{tool._id}}/addToCart" method="get">
            <button class="add-to-cart btn btn-turquoise">Add To Cart <i class="fa-solid fa-cart-plus"></i></button>
        </form>
        {{/unless}}
    </div>
</div>