<h1>Change Credentials</h1>

<form action="/profile/change" method="post" class="form-control">
  <div class="credential">
    <div class="labels">
      <label for="username">Username: </label>
      <label for="email">Email: </label>
      <label for="old-password">Old Password: </label>
      <label for="new-password">New Password: </label>

    </div>
    <div class="inputs">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="{{currentUser.username}}"
      />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="{{currentUser.email}}"
      />
      <input type="password" name="old-password" id="old-password" />

      <input type="password" name="new-password" id="new-password" />

    </div>

  </div>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  {{#if shortPasswordError}}
    <p class="error">{{shortPasswordError}}</p>
  {{/if}}
  {{#if noChanges}}
    <p class="error">{{noChanges}}</p>
  {{/if}}
  <button class="btn btn-turquoise" id="btn-credential">Save modifications</button>
</form>