<h1>Change Credentials</h1>

<form action="/profile/change" method="post">
  <div>
    <label for="username">Username: </label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="{{currentUser.username}}"
    />
  </div>
  <div>
    <label for="email">Email: </label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="{{currentUser.email}}"
    />
  </div>
  <div>
    <label for="old-password">Old Password: </label>
    <input type="password" name="old-password" id="old-password" />
  </div>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  <div>
    <label for="new-password">New Password: </label>
    <input type="password" name="new-password" id="new-password" />
    {{#if shortPasswordError}}
      <p class="error">{{shortPasswordError}}</p>
    {{/if}}
  </div>
  {{#if noChanges}}
    <p class="error">{{noChanges}}</p>
  {{/if}}
  <button>Save modifications</button>
</form>