<h1>Profile</h1>

<section>
  <h2>Infos</h2>
  <p><span>Name: </span>{{currentUser.username}}</p>
  <p><span>Email: </span>{{currentUser.email}}</p>
  <a href="/profile/change">Change credentials</a>
  {{#if savedChanges}}
    <p>{{savedChanges}}</p>
  {{/if}}
</section>

<section id="current-reservations">
  <h2>Current reservations</h2>
  {{#if currentReservations}}
    {{#each currentReservations}}
      <div>
        <span>{{this.tool.brand}} {{this.tool.model}}</span>
        <p><span>Start date: </span>{{this.start_date}}</p>
        <p><span>End date: </span>{{this.end_date}}</p>
      </div>

    {{/each}}
  {{else}}
    <p>No current reservations</p>
  {{/if}}
</section>

<section id="passed-reservations">
  <h2>Passed reservations</h2>
  {{#if passedReservations}}
    {{#each passedReservations}}
      <div>
        <span>{{this.tool.brand}} {{this.tool.model}}</span>
        <p><span>Start date: </span>{{this.start_date}}</p>
        <p><span>End date: </span>{{this.end_date}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No passed reservations</p>
  {{/if}}
</section>