<section class="search-bar">
    <form action="/search" method="get" id="search-form">
        <select name="tool_type">
            <option value="" selected>All tools</option>
            {{#each tooltypesList}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
        <select name="use_case" id="">
            <option value="" selected>All activities</option>
            {{#each usecasesList}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
        <div class="calendar">
            <input type="date" name="start_date" id="start_date" />
            <input type="date" name="end_date" id="end_date" />
        </div>


        <button class="btn btn-dark-blue">Search</button>
    </form>
</section>


<section class="results-list">
    {{#if toolsList}}
    {{#each toolsList}}
    {{> toolCard}}
    {{/each}}
    {{else}}
    No results
    {{/if}}
</section>