<div class="card">
  <div>
    <h2>{{tool.model}}</h2>
    <h3>{{tool.brand}}</h3>
    <picture>
      <img class="tool-image" src="{{tool.picture_url}}" alt="{{tool.model}}" />
    </picture>
    <p><span>Description: </span>{{tool.description}}</p>
    <p><span>Price: </span>{{tool.price_per_day}}€/day</p>
    <a href="/tools/{{tool._id}}" id="tool-link">View details </a>
    <p>
      <span>tags: </span>
      {{#each tool.use_case}}
        <span class="use-case">{{this}}</span>
      {{/each}}
    </p>
    <a href="/reservation/{{tool._id}}">Reserve</a>
  </div>
</div>