<div class="tool-details">
  <picture class="tool-detail-img-container">
    <img
      class="tool-detail-img"
      src="{{tool.picture_url}}"
      alt="{{tool.model}}"
    />
  </picture>
  <div class="tool-titles">
    <h2>{{tool.model}}</h2>
    <h3>{{tool.brand}}</h3>
    <div class="tool-buttons">
      <form action="/tools/{{tool._id}}/addToCart" method="get">
        <button class="btn btn-turquoise add-to-cart">Add To Cart</button>
      </form>
      <form>
        <input
          class="btn btn-turquoise back"
          type="button"
          value="Go back"
          onclick="history.back()"
        />
      </form>
    </div>

    <div class="tool-characteristics">
      <div class="tool-description">
        <p><span>Description: </span>{{tool.description}}</p>
      </div>
      <div class="tool-price">
        <p><span>Price: </span>{{tool.price_per_day}}€/day</p>
      </div>
      <div class="tool-tags">
        <p>
          <span>tags: </span>
          {{#each tool.use_case}}
            {{this.name}}
          {{/each}}
        </p>
      </div>

    </div>

  </div>

</div>