{{> adminHeader}}
<main>
    <h1>All tools</h1>
    <section class="tools-buttons">
        <div> <span id="add-tool-btn" class="btn btn-turquoise">Add new tool<i
                    class="fa-solid fa-circle-plus"></i></span></div>
        <div class="tool-tags-btn">
            <a href="/admin/tools/tool-tags" class="btn btn-dark-blue">Manage tool types & use cases <i
                    class="fa-solid fa-plus"></i></a>
        </div>
    </section>
    <section class="add-tools-dropdown">
        <div class="add-tool d-none">
            <form action="/admin/tools/create" method="post" enctype="multipart/form-data"
                class="form-control container create-tool-form">
                <div class="col-50 d-flex flex-column">
                    <input type="text" name="brand" placeholder="Brand" required>
                    <input type="text" name="model" placeholder="Model" required>
                    <textarea name="description" cols="30" rows="10" required></textarea>
                    <input type="file" name="picture_url" required>
                </div>
                <div class="col-50 d-flex flex-column">
                    <input type="text" name="price_per_day" placeholder="Price per day" required>

                    <select name="tool_type" required>
                        <option value="">-- Select tool type</option>
                        {{#each tooltypes}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <div class="usecases-checkboxes-container">
                        {{#each usecases}}
                        <input type="checkbox" name="{{this._id}}" id="{{this.name}}">
                        <label for="{{this.name}}">{{this.name}}</label>
                        {{/each}}
                    </div>
                </div>
                <div class="w-100 text-center">
                    <button class="btn btn-turquoise mx-auto">Add tool to base</button>
                </div>





            </form>
        </div>

    </section>

    <table class="table-control tools-table">
        <tr>
            <th></th>
            <th>brand</th>
            <th>model</th>
            <th>description</th>
            <th>price/day</th>
            <th>tool type</th>
            <th>use cases</th>
            <th></th>
        </tr>
        {{#each tools}}
        <tr>
            <td><img src="{{this.picture_url}}" alt=""></td>
            <td>{{this.brand}}</td>
            <td class="table-model">{{this.model}}</td>
            <td class="table-desc">{{this.description}}</td>
            <td>{{this.price_per_day}} €</td>
            <td>{{this.tool_type.name}}</td>
            <td class="table-tool-tags">{{#each this.use_case}}<span class="tool-tag">{{this.name}}</span>{{/each}}</td>
            <td>
                <div class="d-flex tool-edit-delete-buttons">
                    <a href="/admin/tools/{{this._id}}/edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="/admin/tools/{{this._id}}/delete" method="post">
                        <button>
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>

            </td>
        </tr>
        {{/each}}
    </table>
</main>